{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar jogo:</h3><br>
    <form action="{{url_for('edit', id=game.id)}}" method="POST">
        <input type="text" name="titulo" class="form-control" value="{{game.titulo}}" required>
        <input type="number" name="ano" value="{{game.ano}}" min="1970" max="2099" class="form-control" required>
        <input type="text" name="categoria" value="{{game.categoria}}" class="form-control" required>
        <input type="text" name="plataforma" value="{{game.plataforma}}" class="form-control" required>
        <input type="number" name="preco" value="{{game.preco}}" min=0 step="0.01" class="form-control" required>
        <input onclick="return confirm('Confirma as alterações?')" type="submit" value="Alterar" class="btn btn-warning">
        <a href="{{url_for('estoque')}}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
    </form>
</div>
{% endblock content %}
