{% extends 'base.html' %}
{% block content %}

<!-- Puxando as Flash Messages-->
{% with messages = get_flashed_messages(with_categories=true) %}

{% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{message}}
    </div>
    {% endfor %}
{% endwith %}

<div class="container">
    <div class="card mt-4">
        <div class="card-body m-auto">
            <form action="">
                <label>Email:</label>
                <input type="email" name="email" class="form-control mb-2" placeholder="email@exemplo.com">
                <label>Senha:</label>
                <input type="password" name="Senha" class="form-control mb-2" placeholder="Insira sua senha!">
                <button type="submit" class="btn btn-danger btn-block">Entrar</button>
            </form>
            <hr>
            <h6>Não possui conta? <a href="{{url_for('caduser')}}">Cadastre-se!</a></h6>
        </div>
    </div>
</div>
{% endblock content %}